
{% load comments i18n crispy_forms_tags fluent_comments_tags %}{% load url from future %}

{% if not form.target_object|comments_are_open %}
    <p>{% trans "Comments are closed." %}</p>
{% else %}
    <form id="comment-form-{{ form.target_object.pk }}" data-object-id="{{ form.target_object.pk }}" action="{% comment_form_target %}" method="post" class="js-comments-form comment-form form-horizontal col-xs-4"
          data-ajax-action="{% url 'comments-post-comment-ajax' %}">{% csrf_token %}
      
      {% crispy form %}
    </form>
{% endif %}
