<!DOCTYPE html>

{% load staticfiles %}
<html>
  <head>
    <title>{% block head_title %}Hacker news{% endblock %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
    
    <link rel="stylesheet" type="text/css"  href="{% static "libs/bootstrap/bootstrap.css" %}">
                         
    <link rel="stylesheet" type="text/css"  href="{% static "css/style.css" %}">
          
  </head>
  <body>
    
    <div id="navigation">
    </div>

    <div id="main">
      <div id="header">
	<div class="container-fluid">
	  <div id="logo" class="logo pull-left">
	    <a href="/"><img src="{% static "img/y18.gif" %}"></a>
	  </div>
	  <div id="title"  class="pull-left"> 
	    <a href="#">{% block title %}Hacker News{% endblock %}</a>
	  </div>
	  <div id="login" class="pull-right"> 
	    <a href="/account/login/">login</a>
	  </div>

	</div>
      </div>
      <div id="content">      
	<div class="container-fluid">    
	{% block content %}
	{% endblock %}
	</div>
      
      </div>
    </div>
    <div id="footer">

    </div>
    
  </body>
</html>
