{% load post_extras %}

{% if top_ranked_posts %}  

<ol>   
  {% for post in top_ranked_posts %} 
  <li>  
    <div class="post-title" >  
      <div class="post-voting">
	<div class="vote upvote"></div>
	<div class="vote downvote"></div>
      </div>
      <a href="{{post.url}}">{{post.title}}</a><span class="post-domain"> ({{post.domain}}) </span>
    </div> 
    <p class="post-info" >
      {{ post.points }} points by {{post.poster.username}} {{ post.created|post_age}}
    </p> 
  </li>
  {% endfor %}
</ol>
{% endif %}
 
