{% load post_extras %}

{% if top_ranked_posts %}  

<ol>   
  {% for post in top_ranked_posts %} 
  <li>  
    <div class="post-title" >  
      <div class="post-voting">
	<a class="vote upvote" href="#" onclick="vote('{{ post.id }}', 'up');"></a>
	<a class="vote downvote" href="#" onclick="vote('{{ post.id }}', 'down');"></a>
      </div>
      <a href="{{post.url}}">{{post.title}}</a><span class="post-domain"> ({{post.domain}}) </span>
    </div> 
    <p class="post-info" >
      <span id="score">{{ post.points }} </span> points (<span id="total_votes">{{post.total_votes}}</span>) by {{post.poster.username}} {{ post.created|post_age}}
    </p> 
  </li>
  {% endfor %}
</ol>
{% endif %}
 
